td {
	padding: 0;
	font-size: small;
}

th {
	padding: 10px;
	font-size: small;
}
#form-fill {
	border: none;
	outline: none;
	font-size: x-small;
	padding: 0%;
	margin: 0%;
	width: 500px;
}

#action-btn {
	font-size: small;
	padding: 1px;
}

#container{
    overflow: hidden;
}